.top {
    width: 40%;
    margin-top: 1%;
 }
 
 .bottom {
     margin-top: 1%;
 }
 
 .price {
     display: flex;
 }

 .profit {
    display: flex;
}

.header {
    font-size: 30px;
    font-weight: 900;
    color: gray;
}