
.top {
   width: 40%;
   margin-top: 1%;
   margin-left: 36%;
   margin-right: 36%;
}

.bottom {
    margin-top: 1%;
}

.price {
    display: flex;
}

button {
    width: 100%;
}

input {
    width: 100%;
}